#navbar_container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    height: 80px;
    margin: auto;
    background-color: black;
    /* position: absolute; */
    /* border: 1px solid black; */

}
#right{
      display: grid;
      gap: 10px;
     justify-content: center;
      grid-template-columns: repeat(3,1fr);
      margin-top: 30px;
}
a{
    color: aqua;
   
    text-decoration: none;           
}
#right>div{
    /* border: 1px solid red; */
     display: flex;
     justify-content: center;
     
}